<div>
  <div class="flex justify-between mt-[20px] items-center">
    <div class="flex gap-5 items-center">
      <i
        class="fa-solid fa-chevron-left text-[#ffffffad] cursor-pointer hover:text-white"
      ></i>
      <div class="flex gap-1">
        <div
          class="flex justify-center items-center w-[130px] h-[30px] bg-[#5159a525] rounded-md hover:bg-[#ffffff25]"
        >
          <img
            class="w-[60px] opacity-90"
            src="../../assets/svg/teslasvg.svg"
            alt="tesla"
          />
        </div>
        <div
          class="flex justify-center items-center w-[130px] h-[30px] bg-[#5159a525] rounded-md hover:bg-[#ffffff25]"
        >
          <img
            class="w-[65px] opacity-90"
            src="../../assets/svg/lucidsvg.svg"
            alt="tesla"
          />
        </div>
        <div
          class="flex justify-center items-center w-[130px] h-[30px] bg-[#5159a525] rounded-md hover:bg-[#ffffff25]"
        >
          <img
            class="w-[50px] opacity-90"
            src="../../assets/svg/niosvg.svg"
            alt="tesla"
          />
        </div>
        <div
          class="flex justify-center items-center w-[130px] h-[30px] bg-[#5159a525] rounded-md hover:bg-[#ffffff25]"
        >
          <img
            class="w-[65px] opacity-90"
            src="../../assets/svg/riviansvg.svg"
            alt="tesla"
          />
        </div>
      </div>
      <i
        class="fa-solid fa-chevron-right text-[#ffffffad] cursor-pointer hover:text-white"
      ></i>
    </div>
    <a href="#" class="text-white">view all</a>
  </div>

  <div class="grid grid-cols-3 grid-rows-2 gap-2 mt-[10px] h-full">
    <app-carcard *ngFor="let car of cars" [carData]="car" (carIdEvent)="getCarFromTheChild($event)"/>
  </div>

  <div>
    <!-- paginator -->

  </div>
</div>
