<!-- <div class="px-[188px]"">
    <header class="flex justify-between mt-[35px]">
        <img src="../assets/RENT.svg" alt="logo">
        <app-navbar/>
    </header>
    <main class="mt-[160px]">
        <div class="flex justify-between items-center gap-20">
            <div class="text-white">
                <h1 class="font-bold text-[50px]">
                    Find, Book and rental electric car in 
                    <span class="bg-gradient-to-l from-[#6D428B] to-[#6C92CE] bg-clip-text text-transparent">Easy</span> steps 
                </h1>
                <p class="text-[15px] opacity-60">
                    Let us take action now to reduce air pollution and protect the planet for future generations.
                </p>
                <button onclick="window.location.href='#getstarted'" class="border border-[#93F1FF] rounded-full px-[61px] py-[10px] mt-[50px] text-[#93F1FF] hover:bg-[#93f1ff23] shadow-md hover:duration-300">
                    Get Started
                </button>   
            </div>
            <div>
                <img class="object-contain w-[850px]" src="../assets/banner-car.png" alt="electric car">
            </div>
        </div>
        <div class="my-[60px]">
            <hr class="border-t-1 border-[#93F1FF] border-dashed opacity-20">
        </div>
        <div class="bg-[#5159a525] px-10 py-4 rounded-[20px] mt-[60px] shadow-lg"> 
            <div class="flex justify-between">
                <img class="w-[130px] opacity-20" src="../assets/svg/teslasvg.svg" alt="tesla">
                <img class="w-[130px] opacity-20" src="../assets/svg/lucidsvg.svg" alt="tesla">
                <img class="w-[90px] opacity-20" src="../assets/svg/niosvg.svg" alt="tesla">
                <img class="w-[130px] opacity-20" src="../assets/svg/riviansvg.svg" alt="tesla">
                <img class="w-[130px] opacity-20" src="../assets/svg/lisvg.svg" alt="tesla">
            </div>
        </div>
        <div class="my-[60px]">
            <hr class="border-t-1 border-[#93F1FF] border-dashed opacity-20">
        </div>
        <div class="flex justify-center">
            <div class="text-center">
                <h3 class="font-bold text-white opacity-40">HOW IT WORK</h3>
                <h2 class="text-white opacity-70 text-[21px]">Rent with following 3 working steps</h2>
            </div>
        </div>
        <div class="flex justify-between gap-4 mt-20 mb-5">
            <div class="w-[345px] h-[345px] bg-[#5159a523] rounded-[20px] shadow-lg"></div>
            <div class="w-[345px] h-[345px] bg-[#5159a523] rounded-[20px] shadow-lg"></div>
            <div class="w-[345px] h-[345px] bg-[#5159a523] rounded-[20px] shadow-lg"></div>
        </div>
        
        <app-getstarted/>

        <div>
            <hr class="border-t-1 border-[#93F1FF] border-dashed opacity-20 my-[60px]" id="about">
            <h1 class="text-[25px] text-white font-bold opacity-60 text-center mb-[20px]">ABOUT US</h1>
            <p class="text-[20px] text-white font-thin opacity-60 text-center">
                Our team is dedicated to providing exceptional customer service and ensuring a smooth rental experience for each and every one of our users. We are committed to continuously improving our app and expanding our fleet to meet the growing demand for sustainable transportation options.
                Thank you for choosing our electric car rental application and joining us in our mission to make the world a cleaner and greener place.
            </p>
        </div>
        <div>
            <hr class="border-t-1 border-[#93F1FF] border-dashed opacity-20 my-[60px]">
            <h1 class="text-[25px] text-white font-bold opacity-60 text-center mb-[20px]">GET IN TOUCH</h1>
            <div  class="flex justify-around text-[20px] text-white font-thin opacity-70">
                <div class="flex flex-col items-center p-10 hover:shadow-xl">
                    <img src="../assets/svg/phone-call.svg" alt="call">
                    <p class="mt-[50px]">+212517594726</p>
                </div>
                <div class="flex flex-col items-center p-10 hover:shadow-xl">
                    <img src="../assets/svg/location.svg" alt="call">
                    <p class="mt-[50px]">Chambre x ENSIAS 1400 Rabat</p>
                </div>
                <div class="flex flex-col items-center p-10 hover:shadow-xl">
                    <img src="../assets/svg/comments.svg" alt="call">
                    <p class="mt-[50px]">rent@um5.ac.ma</p>
                </div>
            </div>
        </div>
    </main>
</div>       -->
<app-feed/>