<div class="w-[90px] h-screen bg-[#5159a525]">
  <div class="flex h-screen flex-col justify-between p-[20px] items-center">
    <div>
      <i class="fa-solid fa-sun text-[25px] text-[#ffffffbb]"></i>
    </div>
    <div class="flex flex-col justify-between items-center h-[200px]">
      <div class="p-[9px] bg-[#ffffff50] rounded">
        <a href="#"
          ><i
            class="fa-solid fa-house text-[25px] text-[#ffffffbb] hover:text-[#ffffffbb]"
          ></i
        ></a>
      </div>
      <div>
        <a href="#"
          ><i
            class="fa-solid fa-bookmark text-[25px] text-[#ffffff50] hover:text-[#ffffffbb]"
          ></i
        ></a>
      </div>
      <div>
        <a href="#"
          ><i
            class="fa-solid fa-bell text-[25px] text-[#ffffff50] hover:text-[#ffffffbb]"
          ></i
        ></a>
      </div>
      <div>
          <button
          (click)="showModal( )"
          type="button"
          class="inline-block"
          data-te-toggle="modal"
          data-te-target="#leftTopModal"
          data-te-ripple-init
          data-te-ripple-color="light">
          <i class="fa-solid fa-plus text-[25px] text-[#ffffff50] hover:text-[#ffffffbb]"></i>
        </button>
      </div>
    </div>
    <div>
      <div class="bg-[#ffffff41] rounded-full w-10 h-10"></div>
    </div>
  </div>
</div>
<div [ngClass]="modal ? '' : 'hidden'">
  <ng-container [ngSwitch]="component" >
    <app-carform *ngSwitchCase="'car'" (modalEvent)="showModal() "/>
    <app-renterform *ngSwitchCase="'renter'" (modalType)="changeModal()" (modalEvent)="showModal()"/>
  </ng-container>
</div>
