<div class="flex justify-center bg-slate-900 absolute left-0 right-0 top-0 z-50 w-screen h-screen bg-opacity-50 backdrop-blur-lg">
  <div class="z-50 p-4 w-1/2">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative modalstyle rounded-lg">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4  rounded-t">
                <h3 class="text-xl font-semibold text-white">
                    ADD A RENTER
                </h3>
                <button (click)="close()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center ">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <form #basicForm="ngForm" (submit)="next(basicForm.value)">
              <div class="p-6 space-y-6 w-full">
                  <div class="flex flex-col gap-2">
                      <input  name="renterName" ngModel type="text" id="name" class="bg-transparent outline-none border border-indigo-900 text-white text-sm rounded-lg focus:border-indigo-900 block w-full p-2.5" placeholder="Name" required>
                      <input ngModel name="renterEmail" type="text" id="email" class="bg-transparent outline-none border border-indigo-900 text-white text-sm rounded-lg focus:border-indigo-900 block w-full p-2.5" placeholder="Email" required>
                      <input ngModel name="renterPhone" type="text" id="phone" class="bg-transparent outline-none border border-indigo-900 text-white text-sm rounded-lg focus:border-indigo-900 block w-full p-2.5" placeholder="Phone" required>
                      <input ngModel name="renterCity" type="text" id="city" class="bg-transparent outline-none border border-indigo-900 text-white text-sm rounded-lg focus:border-indigo-900 block w-full p-2.5" placeholder="City" required>
                      <input ngModel name="renterAdress" type="text" id="address" class="bg-transparent outline-none border border-indigo-900 text-white text-sm rounded-lg focus:border-indigo-900 block w-full p-2.5" placeholder="Address" required>
                    </div>
              </div>
              <div>
                {{errorMsg==undefined ? errorMsg : ''}}
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2    rounded-b">
                  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</button>
              </div>
            </form>
        </div>
    </div>
</div>
</div>

