<input
  size="29"
  class="border-none bg-[#5159a542] py-[14px] pl-[20px] rounded-full"
  type="text"
  placeholder="Email"
/>
<input
  size="29"
  class="border-none bg-[#5159a542] py-[14px] pl-[20px] rounded-full mt-[15px]"
  type="password"
  placeholder="Password"
/>
<input
  size="29"
  class="border-none bg-[#5159a542] py-[14px] pl-[20px] rounded-full mt-[15px]"
  type="password"
  placeholder="Rewrite password"
/>
<button
  (click)="test()"
  class="text-white bg-gradient-to-r from-[#6d428b7d] to-[#6c92ce7c] py-[14px] px-[24px] rounded-full mt-[20px]"
>
  SIGN UP
</button>
