<div class="flex gap-1">
  <div class="bg-[#5159a525] py-[10px] rounded-md w-[255px]">
    <i
      class="fa-solid fa-magnifying-glass mx-3 text-[15px] text-[#ffffffd7]"
    ></i>
    <input
      type="text"
      class="border-none bg-transparent outline-none text-white"
      placeholder="Search a car..."
    />
  </div>
  <div
    class="bg-[#ffffff98] py-[10px] rounded-md w-[60px] flex justify-center items-center cursor-pointer"
  >
    <i class="fa-solid fa-filter text-[#ffffff]"></i>
  </div>
</div>
